<!--
Component: Code Editor Visual
Purpose: Animated code editor mock-up for homepage hero
Usage: {% include 'components/homepage/code-editor-visual.html' %}
-->
<div class="code-editor">
    <div class="editor-header">
        <div class="editor-dots">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <span class="editor-title">python_tutorial.py</span>
    </div>
    <div class="editor-content">
        <div><span class="comment"># Your Python journey starts here!</span></div>
        <div><span class="keyword">def</span> <span class="function">learn_python</span>():</div>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">print</span>(<span class="string">"Welcome to Code with Morais!"</span>)</div>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">for</span> skill <span class="keyword">in</span> [<span class="string">"variables"</span>, <span class="string">"loops"</span>, <span class="string">"functions"</span>]:</div>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">print</span>(<span class="string">f"Mastering {skill}..."</span>)</div>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">return</span> <span class="string">"Ready for certification! 🎓"</span></div>
        <div></div>
        <div><span class="comment"># Start your journey</span></div>
        <div><span class="function">learn_python</span>()</div>
    </div>
    
    <div class="achievement-popup">
        <div class="achievement-icon">🏆</div>
        <div class="achievement-text">
            <strong>Achievement Unlocked!</strong>
            <span>First Line of Code</span>
        </div>
    </div>
</div>
